# Valid values: LOCAL, TEST, DEV, PROD
APP_ENV=LOCAL

API_PORT=30001

POSTGRES_CONTAINER_NAME=terrascope-postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=35432
POSTGRES_DB=terrascope
POSTGRES_USER=terrascope
POSTGRES_PASSWORD=terrascope

ELASTICSEARCH_CONTAINER_NAME=terrascope-elasticsearch
ELASTICSEARCH_HOST=127.0.0.1
ELASTICSEARCH_PORT=39200

TEMPORAL_ADMIN_TOOLS_CONTAINER_NAME=terrascope-temporal-admin-tools

TEMPORAL_CONTAINER_NAME=terrascope-temporal
TEMPORAL_HOST=127.0.0.1
TEMPORAL_PORT=37233

TEMPORAL_CREATE_NAMESPACE_CONTAINER_NAME=terrascope-temporal-create-namespace

TEMPORAL_UI_CONTAINER_NAME=terrascope-temporal-ui
TEMPORAL_UI_HOST=127.0.0.1
TEMPORAL_UI_PORT=38080
